*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.dropdown{
    display: none;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    display: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #777;
  }

header ul{
    text-decoration: none;
    display:inline-block ;
}
header .first-list{
    width: 70%;
    text-align: center;
}
header .second-list{
    width: 25%;
    text-align: right;
}
header ul li{
    display: inline;
    margin-left: 1rem;
    padding: 12px;
}
header ul li:hover{
    background-color: black;
    color: white;
}
header ul li a{
    text-decoration: none;

}
header .second-list i{
    font-size: 20px;
}
.first-div{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ), url(pictures/sales.webp);
    background-size: cover;
    background-repeat: no-repeat;
 height: 400px;
    background-size: 100% 100%;
    padding: 2.5rem;
    text-align: center;

    
}
.first-div h1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.first-div button:hover{
    background-color: white!important;
    color: black!important;
    cursor:pointer !important;
}
.first-div p{
    display: inline-block;
    color: white;
}
.first-div .first-p{
    text-shadow: 1px 1px black, 
    1px 1px black,
    3px 4px black, 
    7px 9px black;
font: bold 60px Helvetica, Arial, Sans-Serif;
line-height: 74px;
position: relative;
top: -25%;

    
}
.second-p{
line-height: 222px;
color: white; 
   font: bold 200px Helvetica, Arial, Sans-Serif;
   text-shadow: 1px 1px black, 
                1px 1px black,
                3px 4px black, 
                7px 9px black;
    

}
.third-p{
font: bold 60px Helvetica, Arial, Sans-Serif;
line-height: 73px;
text-shadow: 1px 1px black, 
1px 1px black,
3px 4px black, 
7px 9px black;
}
.second-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    transition: flex 0.4s ease;
    
}
.second-div .child{
    display: flex;
    width: 45%;
    padding: 20px;
    margin: 10px;
}
.second-div p{
    font-size: 15px;
}
.second-div img{
    width: 200px;
    height: 300px;
    box-shadow: 0px 12px  7px rgba(19, 18, 18, 0.2);
    margin-right:5%;
}
.second-div aside{
    position: relative;
    top: 3rem;
    width: 40%;
}
.second-div aside .full{
    color:yellow;
}
.second-div aside .review{
    display: inline-block;
    margin-left: 10px;
}
.second-div aside .about{
    margin-top: 20px;
}
.second-div aside h2{
    font-size: 18px;
}
.second-div aside button{
    padding: 10px;
    width: 70%;
    border: 0.5px solid black;
    display: block;
    margin-top: 2rem;
    background-color: white;
}
.second-div aside button:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 80%);
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    padding:10px;
    margin-top: 10px;
}
footer .child{
    width: 23%;
    margin: 10px;
}
footer ul{
    list-style-type: none;
    cursor: pointer;
    
}
footer .child i{
    font-size: 27px;
    border-radius: 50%;
    padding: 12px;
    background-color: black;
    color: white;
}
footer ul li{
    margin-top: 5px;
}
footer ul li a{
    color: black;
    text-decoration: none;
}
footer input{
    display: block;
    padding: 5px;
    margin-top: 5px;
}
footer input[type="email"]{
    width: 70%;
}
footer input[type=submit]{
    width: 60%;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* media query */
@media (max-width:480px){
    .first-div{
        height: auto;
        padding: 2px;
    }
    .second-div .child{
        display: block!important;
        width: 100%;

    }
    .second-div .child img{
        display: block!important;
        
    }
    .second-div .child aside{
        display: block;
        width: 80%;
        top: 2rem;
    }
    .second-div aside button{
        margin-top: 1rem;
    }
    header{
        margin-bottom: 5px;
    }
    header .second-list{
        width: 80%;
        text-align: right;
    }
    header .first-list{
        display: none;
    }
    header ul li{
        margin-left: 1px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .dropdown{
        display: inline-block;
        margin: 10px;
    }
    
    .first-div .first-p{
     top: -45%;   
    }
   
    .first-div button{
        width: 50%!important;
    }
    footer .child{
        width: 80%;
    }

}
@media(min-width:250px){

}